{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="text-center">Show post</h1>
    <strong>Post Title:</strong> {{ post.title }}
    <hr>
    <strong>Post Description:</strong> {{ post.description }}
    <hr>
    <strong>Post Category:</strong> {{ post.category }}
    <hr>

{% endblock %}
