<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome This is first practice project!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# navigation #}
        <h2>Navigation Bar</h2>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
